%div
	-unless @docs.blank?
		- @docs.each do |doc|
			.files
				%h2= doc.title
				%p= "created " + time_ago_in_words(doc.created_at) + " ago"
				%p= truncate(doc.content, length:50)
				%p= link_to "View Doc", doc, class: "view_doc"
	- else
		%h2 Create Doc!
